@page
@model SampleApp.Pages.Storage.Queue.IndexModel
@{
    ViewData["Title"] = "Queue List";
}

<h1>Queue values</h1>

<ul>
    @foreach (string value in Model.QueueValues)
    {
        <li>@value</li>
    }
</ul>

<h2>Queue create</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="NewMessage" class="form-label"></label>
        <input asp-for="NewMessage" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
