@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Azure Managed Identities Samples</h1>
</div>

<ul>
    <li>
        Azure Storage
        <ul>
            <li>
                Blob
                <ul>
                    <li><a asp-page="Storage/Blob/Index">Index</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
